.eth_btn{
    background: linear-gradient(30deg, #14044d 35%, #716b94 73%);
    position: relative;
    padding: 5px 15px;
    font-family: 'Mulish';
    font-size: 14.5px;
    font-weight: 500;
    color: white;
    border: 2px solid #716b94;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    margin-top: -3.5px;
    left: 5px;
}

.eth_star-1 {
    position: absolute;
    fill: #716b94;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #716b94);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.eth_star-2 {
    position: absolute;
    fill: #716b94;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #716b94);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.eth_star-3 {
    position: absolute;
    fill: #716b94;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #716b94);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.eth_star-4 {
    position: absolute;
    fill: #716b94;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #716b94);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.eth_star-5 {
    position: absolute;
    fill: #716b94;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #716b94);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.eth_star-6 {
    position: absolute;
    fill: #716b94;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #716b94);
    z-index: -5;
    transition: all .8s ease;
}

 .eth_btn:hover {
    background: #000;
    color: #716b94;
    box-shadow: 0 0 50px #716b94;
}

 .eth_btn:hover .eth_star-1 {
    position: absolute;
    top: -110%;
    left: -60%;
    width: 30px;
    height: auto;
    filter: drop-shadow(0 0 10px #716b94);
    z-index: 2;
}

 .eth_btn:hover .eth_star-2 {
    position: absolute;
    top: -45%;
    left: 0%;
    width: 20px;
    height: auto;
    filter: drop-shadow(0 0 10px #716b94);
    z-index: 2;
}

 .eth_btn:hover .eth_star-3 {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 11px;
    height: auto;
    filter: drop-shadow(0 0 10px #716b94);
    z-index: 2;
}

 .eth_btn:hover .eth_star-4 {
    position: absolute;
    top: 45%;
    left: 85%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #716b94);
    z-index: 2;
}

 .eth_btn:hover .eth_star-5 {
    position: absolute;
    top: 25%;
    left: 140%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #716b94);
    z-index: 2;
}

 .eth_btn:hover .eth_star-6 {
    position: absolute;
    top: -5%;
    left: 60%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #716b94);
    z-index: 2;
}

.fil0 {
    fill: #716b94;
}

.eth_box {
    width: 80px;
    height: 30px;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    padding: 5px;
    margin: -2px -5.5px;
    background: transparent;
    /* text-transform: uppercase; */
    font-weight: bold;
}

.eth_box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    background: black;
}

.eth_box:hover:before {
    border-color: #fff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.eth_box:hover:after {
    border-color: #716b94;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.eth_box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.eth_box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}